/** style.css by sandro santos * * Copyright 2021, sandro santos **/
/** USING https://feathericons.com **/

/** font import **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** variables **/
:root {
  /** light colors **/
  --light1: #ECEFF4;
  --light2: #E5E9F0;
  --light3: #D8DEE9;

  /** dark colors **/
  --dark1: #2E3440;
  --dark2: #3B4252;
  --dark3: #434C5E;
  --dark4: #4C566A;

  /** simplified vars **/
  --accent: #6f79ff;
  --accent_transparent: #6f79ff00;
  --text: var(--light1);
  --background: var(--dark1);
  --secondary: var(--dark2);
  --rounding: 1rem;

}

/** GENERAL SETTINGS **/
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  list-style: none;
  scrollbar-width: thin;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::selection {
  background: var(--accent);
}

html {
  background: var(--background);
}

.feather {
  width: 20x;
  height: 20px;
}

/** HYPERLINK SETTINGS **/
a {
  color: var(--text);
  text-decoration: none;
}

img {
  height: 5em;
  width: auto;
  scale: 3;
}

/** PRELOADER **/
.preloader {
    width: 100%;  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: var(--background);
    position: fixed;
    z-index: 3;
    animation: .8s infinite alternate fade;
}

.preloader img {
    animation: .8s infinite alternate scale;
}

@keyframes fade {
  from {
    background: var(--background);
  }

  to {
    background: #20242c;
  }
}

@keyframes scale {
  from {
    scale: 2,5;
  }

  to {
    scale: 4;
  }
}



/** HEADER SETTINGS **/
header {
  z-index: 1;
  width: 100vw;
  display: flex;
  position: fixed;  
  justify-content: center;
}

header img {
  scale: 1.5;
  padding: 0 1em;
  transition: .3s all ease;
}

header img:hover {
  scale: 1.6;
}

header section {
  width: 90%;
  top: 1rem;
  display: flex;
  position: fixed;  
  font-size: small;
  color: var(--text);    
  border-radius: 1rem;    
  text-transform: uppercase;
  background: var(--secondary);
}

header section a {
  gap: 1em;
  padding: 1em;
  display: flex;
  border-radius: 1em;
  transition: .3s all ease;
  border: 1px solid transparent;
}

header section a:hover {
  border: 1px solid var(--accent);
  box-shadow: 0 -2em 0 0 var(--accent) inset;
}

header a {
  font-weight: 600;
  text-transform: uppercase;
}

header section ul {
  gap: 2em;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

header section li {
    gap: 1em;
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

/** HERO SECTION SETTINGS **/
.loader-section {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--accent_transparent);
  display: none;
}

/** HERO SECTION SETTINGS **/
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  background-color: var(--background);
}

.hero-section div {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;  
  align-items: center;
  justify-content: center;
}

.hero-section .image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.hero-section .image img {
    z-index: 1;
    position: fixed;
} 

.hero-section .background{
  opacity: .3;
}
.hero-  section div img {
  opacity: 1;
}

.mobile-cta {
  display: none;
}

/** FOOTER SECTION SETTINGS **/
footer {
  display: flex;
  justify-content: center;
}
  
footer div {
  color: var(--text);
  width: 90%;
  bottom: .5rem;
  display: flex;
  position: fixed;
  font-size: small;
  border-radius: 1rem;
  text-transform: uppercase;
  background: var(--secondary);
}

footer div ul {
  gap: 2em;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

footer div li {
  gap: 1em;
  display: flex;
  padding: 0 1rem;  
  align-items: center;
}

footer div a {
  gap: 0.5em;
  padding: 1em;
  display: flex;
  border-radius: 1em;  
  transition: .3s all ease;
  border: 1px solid transparent;  
}

footer div a:nth-child(3) {
  border: 1px solid var(--accent);
}

footer div a:hover {
  border: 1px solid var(--accent);  
  box-shadow: 0 -2em 0 0 var(--accent) inset;
}

figure {
  left: 0vw;
  width: 100%;
  height: 100%;
  opacity: 0.5;  
  display: flex;
  position: absolute;
}

figure img {
  height: 100vh;
  width: auto;
  scale: 1;
}

@keyframes slidy {
0% { left: 0vw; }
20% { left: 0vw; }
25% { left: -70vw; }
45% { left: -70vw; }
50% { left: -235vw; }
70% { left: -235vw; }
75% { left: -275vw; }
85% { left: -275vw; }
90% { left: -365vw; }
100% { left: -0vw; }
}


/** MEDIA QUERY **/
/** ** MOBILE DEVICES ** **/
@media only screen and (max-width: 35rem) {
  header section ul {
    gap: 0;
    justify-content: space-evenly;
  }
  
  header section li {
    padding: 0;
    gap: 0.25rem;    
  }
  
  .mobile-cta {
    top: 60vh;
    z-index: 5;
    position: absolute;
    display: block !important; 
    transition: .3s all ease; 
  }
  
  .mobile-cta  button {
    gap: 0.25rem;
    display: flex;
    color: var(--text);
    padding: 1rem 2rem;
    align-items: center;    
    transition: .3s all ease;    
    background: var(--background);
    border: 1px solid var(--accent);       
    border-radius: var(--rounding); 
  }
  
  .mobile-cta  button:hover {
    box-shadow: 0 -2em 0 0 var(--accent) inset; 
    border: 1px solid var(--accent); 
    scale:0.8;      
  }
  
  .send-msg {
    display: none;
  }
  
}